/* Global styles */

@font-face {
    font-family: AspiraDemi;
    src: url("../fonts/aspira-demi.otf") format("opentype");
}

@font-face {
    font-family: AspiraLight;
    src: url("../fonts/aspira-light.otf") format("opentype");
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

.button {
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.lowercase {
    text-transform: lowercase;
}

/* Nav styles */

#chegg-ux-logo {
    position: relative;
    top: -380px;
    z-index: 2004;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}


/* Page styles */

#container {
    background: url('../img/header-bg.jpg');
    height: 595px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
}

main {
    position: absolute;
    top: 550px;
    width: 100%;
}

main div:first-child.section-header{
    padding-top: 40px;
}

.section-header {
    padding-top: 80px;
    text-align: center;
    width: 100%
}

.section-header h2 {
    color: #333;
    font-family: AspiraDemi;
    font-size: 36px;
    line-height: 43px;
    padding-bottom: 40px;
}

/* Header styles */

#header-content h1 {
    color: #fff;
    font-family: AspiraDemi;
    font-size: 21px;
    line-height: 28px;
    margin: 0 auto;
    padding-top: 200px;
    position: relative;
    text-align: center;
    width: 660px;
    z-index: 2001;
}

#header-content h3,
#header-content p {
    color: #fff;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 660px;
    z-index: 2001;
}

#header-content h3 {
    font-size: 19px;
    margin-bottom: 15px;
}

#header-content a {
    color: #fff;
    font-weight: 500;
}

.header-cta {
    border: 2px solid white;
    position: relative;
    margin: 40px auto 0 auto;
    width: 660px;
    z-index: 2001;
    padding: 20px;
}

.student-success-word {
    display: inline-block;
    min-width: 231.36px;
    width: 231.36px;
}

#header-buttons {
    position: relative;
    width: 100%;
    z-index: 2000;
}

#header-buttons a:first-child {
    margin-right: 10px;
}

#header-buttons div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.button.header-button {
    background-color: #f07d00;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: AspiraLight;
    font-size: 18px;
    line-height: 22px;
    padding: 15px;
    width: 220px;
}

#learn-more-anchor {
    font-family: AspiraDemi;
    position: absolute;
    top: 650px;
    width: 100%;
}

#learn-more-anchor a {
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #414141;
    width: 100%;
}

#bg-overlay-container {
    position: relative;
    width: 100%;
}

#bg-overlay {
    position: relative;
    background-color: rgba(51, 153, 153, 0.91);
    height: 550px;
    /*min-width: 960px;*/
    min-height: 100%;
    top: -518px;
    margin: 0 auto;
    width: 100%;
}

.outer-logo-wrapper {
    width: 100%;
    text-align: center;
}

.inner-logo-wrapper {
    display: inline-block;
}



/* Employee testimonials styles */

#employee-testimonials {
    clear: both;
}

#testimonials-section {
    display: table;
    empty-cells: show;
    margin: 0 auto;
    max-width: 960px;
}

.testimonial-portrait {
    background-color: #aaa;
    border: 1px solid #e9e9e9;
    display: table-cell;
    height: 540px;
    position: relative;
    width: 340px;
}

.testimonial {
    background-color: rgba(51, 153, 153, 0.8);
    color: #fff;
    min-height: 104px;
    padding: 15px 30px 15px 30px;
    position: absolute;
    bottom: 0;
}

.testimonial h4 {
    font-family: AspiraDemi;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

.testimonial span {
    font-family: AspiraLight;
}

.testimonial p {
    font-family: AspiraLight;
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
}

.portrait-rosa {
    background: url('../img/portrait-rosa.jpg');
    background-position: center 0% 0%;
    background-size: 112%;
    background-repeat: no-repeat;
}

.portrait-kaari {
    background: url('../img/portrait-kaari.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-dana {
    background: url('../img/portrait-dana.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-dana .testimonial {
    min-width: 258px;
}

.portrait-twyla {
    background: url('../img/portrait-twyla.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-mark {
    background: url('../img/portrait-mark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-nikita {
    background: url('../img/portrait-nikita.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-louise {
    background: url('../img/portrait-louise.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.coordinator-info {
    background-color: #5C90C7;
    height: 541px;
    margin-bottom: 1px;
    margin-left: 1px;
    width: 100%;
}

.coordinator-info p {
    color: white;
    font-family: Aspira;
    font-size: 21px;
    line-height: 1.2em;
    padding: 200px 40px;
}

.coordinator-info span {
    display: block;
    margin-top: 40px;
}


/* Research types */

.research-types {
    margin: 0 auto;
    min-height: 500px;
    width: 960px;
}

.research-types ul {
    margin-top: 20px;
    text-align: left;
}

.research-types li {
    color: #333;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.research-detail {
    border: 1px solid #eee;
    height: 100%;
    float: left;
    font-size: 18px;
    margin-right: 12px;
    min-height: 335px;
    padding: 20px 12px;
    width: 200px;
}

.research-detail-header {
    color: #f07d00;
    display: block;
    font-size: 14px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Compensation */

#compensation {
    margin: 0 auto;
    width: 960px;
}

.compensation-visual {
    background-color: #4DC66D;
    float: left;
    margin-right: 40px;
    height: 200px;
    width: 200px;
}

.compensation-visual span {
    color: white;
    font-size: 60px;
    font-weight: 500;
    font-family: Aspira;
    position: relative;
    top: 36%;
    transform: translateY(-50%);
}

#compensation p {
    color: #333333;
    font-size: 21px;
    line-height: 1.6em;
    text-align: left;
}

#compensation strong {
    font-weight: 700;
}


/* Footer styles */

.footer-cta {
    background-color: #2CAEA6;
    color: white;
    font-family: Aspira;
    line-height: 1.2em;
    position: relative;
    margin: 0 auto;
    opacity: 0.94;
    width: 660px;
    text-align: center;
    padding: 40px;
    position: relative;
    top: 300px;
}

.footer-cta h3 {
    font-size: 19px;
    margin-bottom: 15px;
}

.footer-cta a {
    color: white;
}


/* Office loations styles */

#office-locations {
    background: url('../img/office.jpg');
    background-position: center 85%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    min-height: 700px;
}



/* Privacy styles */

#privacy {
    margin-bottom: 100px;
    text-align: center;
}

#privacy a {
    color: #5C90C7;
}



/* Mobile styles */

@media screen and (max-width: 375px) {

    #student-hub {
        display: none;
    }

    #container {
        height: 480px;
        background-position-x: -80px;
    }

    main {
        top: 450px;
    }

    #culture {
        display: none;
    }

    #header-content h1 {
        font-size: 36px;
        line-height: 42px;
        padding-top: 153px;
        width: 100%;
    }

    .student-success-word {
        position: relative;
        text-align: left;
        min-width: 175px;
        width: 175px;
    }

    #bg-overlay-container {
        max-width: 375px;
    }

    #bg-overlay {
        height: 552px;
        min-width: 375px;
        top: -542px;
    }

    .section-header h2 {
        font-size: 28px;
        line-height: 32px;
    }

    #testimonials-section {
        display: block;
        max-width: 375px;
    }

    .testimonial-portrait {
        border-right: none;
        display: block;
        margin: 0 auto 10px auto;
        max-width: 300px;
    }

    .portrait-kyrie {
        background-size: 114%;
        background-position: center;
    }

    .button.header-button {
        display: block;
        margin-bottom: 10px;
        margin: 0 auto 10px auto;
    }

    #header-buttons a:first-child {
        margin-right: auto;
    }

    #impact {
        margin-top: 0;
        margin-bottom: 120px;
    }

    #impact.section-header {
        padding-top: 40px;
    }

    #impact h2 {
        font-size: 27px;
        line-height: 31px;
    }

    #impact-stats {
        padding-bottom: 20px;
        padding-left: 0;
        padding-top: 0;
    }

    .impact-stat {
        border-right: none;
        display: block;
        margin: 0 auto 40px auto;
    }

    #impact-tweets {
        margin-top: 0;
        width: 280px;
    }

    .impact-tweet {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #locations-section {
        display: block;
        width: 100%;
    }

    #office-locations {
        background: none;
        margin-top: 0;
        padding-bottom: 40px;
    }

    #first-location {
        margin-top: -160px;
    }

    .office-location {
        background-color: rgba(51, 153, 153, 1);
        float: none;
        margin: 0 auto 20px auto;
        max-width: 75%;
    }

    #footer-content.section-header {
        padding-top: 0;
    }

    #footer-content #header-buttons {
        margin-top: 0;
    }

    .testimonial {
        padding: 30px;
    }
}


@media screen and (max-width: 320px) {

    #bg-overlay {
        height: 553px;
        top: -530px;
        min-width: 320px;
    }

    #header-content h1 {
        font-size: 36px;
        line-height: 42px;
        padding-top: 140px;
        width: 100%;
    }
}

/* Animations */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.2s ease-in 1 forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 1.2s ease-out 1 forwards;
}

/*.is-paused {
    animation-play-state: paused;
}*/

.hide {
    visibility: hidden;
}


/* Firefox-specific */

@-moz-document url-prefix() {

    .hub-slide-one {
        top: -1121px;
    }

    .hub-slide-two {
        top: -2120px;
    }

    .hub-slide-three {
        top: -3120px;
    }

    .hub-slide-four {
        top: -4120px;
    }

    .hub-slide-five {
        top: -5119px;
    }
}
